.contacts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--content-gap);
}

.contacts .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: .5em;
    width: 12em;
    background-color: var(--entry);
    border-radius: var(--radius);
    border: 1px solid var(--border);
    padding: .5em;
}

.contacts .contact .contact-image {
    height: 10em;
    width: 100%;
    border-radius: .5em;
    padding: .5em;
}

.contacts .contact .contact-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.contacts .contact .contact-name {
    color: var(--primary);
}
.contacts .contact .contact-title {
    color: var(--secondary);
    font-size: .9em;
}
.contacts .contact .contact-links {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5em;
    font-size: .9em;
    width: 100%;
}
.contacts .contact .contact-links .contact-links-phone{
    border-top: 1px solid var(--border);
    padding-top: .5em;
}
.contacts .contact .contact-links .contact-links-email{
    border-top: 1px solid var(--border);
    padding-top: .5em;
}
.contacts .contact .contact-links .icon {
    vertical-align: text-top;
}

/* Container for the form */
.contact-form {
    margin: 2em auto;
    padding: 1.5em;
    border: 1px solid var(--border);
    border-radius: 5px;
    background: var(--entry);
}

/* Inputs, Textarea, and Select */
.contact-form input[type="text"],
.contact-form input[type="tel"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid var(--border);
    border-radius: 4px;
    background: var(--theme);
    color: var(--primary);
    box-sizing: border-box; /* Ensures padding doesn't affect width */
}

/* Focus state for better accessibility */
.contact-form input:focus,
.contact-form textarea:focus {
    border-color: var(--secondary);
    outline: none;
}

/* Submit Button */
.contact-form button[type="submit"] {
    background: var(--primary);
    color: var(--theme);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: opacity 0.2s;
    width: 100%;
}

.contact-form button[type="submit"]:hover {
    opacity: 0.8;
}